.btn-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(170, 60, 70); /* Red border */
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .dropdown-item:hover {
    background-color: #f8f8f8;
  }


