.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust as needed */
    word-wrap: break-word;
  }

  tr td div.d-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  tr td div.d-flex p,
  tr td div.d-flex input,
  tr td div.d-flex button {
    margin: 0; /* Ensure no extra margin affects layout */
  }
  
  