
.carousel-control-prev,
.carousel-control-next {
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for proper centering */
}

.color-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ddd;
}