
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}
/*** Spinner End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.border-sec {
    transition: 0.5s;
     border-color:rgb(170, 60, 70);
}

.btn.border-sec:hover {
    background: rgba(202, 182, 155, 0.9) !important;
    color: rgba(170, 60, 70, 0.9) !important;
   
}
.btn.bg-sec{
	color: rgba(202, 182, 155, 0.9) !important;
	
}
.bg-beige {
    background-color: rgba(202, 182, 155, 0.9);
}



/*** Topbar Start ***/
.fixed-top {
    transition: 0.5s;
    background:rgb(0, 0, 0);
    border: 0;
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
    background: rgb(170, 60, 70);
}
.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: rgba(202, 182, 155, 0.9) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: rgba(202, 182, 155, 0.9) !important;
}
.topbar .text-beige {
   color: rgba(202, 182, 155, 0.9)
}

/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;
}

.navbar {
    height: 100px;
    border-bottom: 2px solid rgb(170, 60, 70);
   
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color:  rgb(170, 60, 70);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background:  rgba(202, 182, 155, 0.9);
    color:  rgb(170, 60, 70);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}
/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gg.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.input.border-sec {   
   border-color: rgb(170, 60, 70)!important;
}
.carousel-item {
    position: relative;
    
}
.carousel-item img {
   height: 350px; 
    width: 100%; 
    object-fit: cover; 
}


.carousel-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background: linear-gradient(rgba(246, 2, 72, 0.7), rgba(128, 0, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--bs-white);
    background:   rgba(202, 182, 155, 0.9);;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    margin-right: 20px;
}

.carousel-control-prev {
    margin-left: 20px;
}

.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/phone2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 152px !important;
    }
}

@media (max-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 97px !important;
    }
}
/*** Hero Header end ***/


/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
    position: relative;
    width: 120px;
    height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 35px;
    height: 35px;
    background:   rgba(202, 182, 155, 0.9);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%);
    transform: rotate(45deg);
    background:   rgba(202, 182, 155, 0.9);
    
   
    
}
/*** featurs End ***/


/*** service Start ***/
.service .service-item .service-content {
    position: relative;
    width: 250px; 
    height: 130px; 
    top: -50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/*** service End ***/


/*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
    background:  rgba(202, 182, 155, 0.9) !important;
}

.fruite .tab-class .nav-item a.active span {
    color: var(--bs-white) !important; 
}
.fruite .tab-class .nav-item a span {
    cursor:default
}
.fruite .fruite-categorie .fruite-name {
    line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
    transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
    color:  rgba(202, 182, 155, 0.9);
}

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 60px rgba(192, 192, 192, 0.6);
}

.fruite .fruite-item .fruite-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}
/*** Fruits End ***/


/*** vesitable Start ***/
.vesitable .vesitable-item {
    height: 100%;
    transition: 0.5s;
}

.vesitable .vesitable-item:hover {
    box-shadow:  0 0 60px rgba(192, 192, 192, 0.6);
}

.vesitable .vesitable-item .vesitable-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.vesitable .vesitable-item .vesitable-img img {
    transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
    transform: scale(1.2);
}

.vesitable .owl-stage {
    margin: 50px 0;
    position: relative;
}

.vesitable .owl-nav .owl-prev {
    position: absolute;
    top: -8px;
    right: 0;
    color:  rgb(170, 60, 70);
    padding: 5px 25px;
    border: 1px solid  rgba(202, 182, 155, 0.9);
    border-radius: 20px;
    transition: 0.5s;

}

.vesitable .owl-nav .owl-prev:hover {
    background: rgba(202, 182, 155, 0.9);
    color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
    position: absolute;
    top: -8px;
    right: 88px;
    color:  rgb(170, 60, 70);
    padding: 5px 25px;
    border: 1px solid  rgba(202, 182, 155, 0.9);;
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
    background:  rgba(202, 182, 155, 0.9);
    color: var(--bs-white);
}
/*** vesitable End ***/


/*** Banner Section Start ***/
.banner .banner-btn:hover {
    background:  rgb(170, 60, 70);
}
/*** Banner Section End ***/


/*** Facts Start ***/
.counter {
    height: 100%;
    text-align: center;
    box-shadow:  0 0 60px rgba(192, 192, 192, 0.6);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color:  rgb(170, 60, 70);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter h1 {
    margin-bottom: 0;
}
/*** Facts End ***/


/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    right: 0;
    color:  rgb(170, 60, 70);
    padding: 5px 25px;
    border: 1px solid  rgba(202, 182, 155, 0.9);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background:  rgba(202, 182, 155, 0.9);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 88px;
    color:  rgb(170, 60, 70);
    padding: 5px 25px;
    border: 1px solid  rgba(202, 182, 155, 0.9);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background:  rgba(202, 182, 155, 0.9);
    color: var(--bs-white);
}
/*** testimonial End ***/


/*** Single Page Start ***/
.pagination {
    display: inline-block;
}
  
.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid  rgba(202, 182, 155, 0.9);
    margin: 0 4px;
}
  
.pagination a.active {
    background-color:  rgb(170, 60, 70);
    color: var(--bs-light);
    border: 1px solid  rgba(202, 182, 155, 0.9);
}
  
.pagination a:hover:not(.active) {
	background-color:  rgb(170, 60, 70);
}

.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid  rgba(202, 182, 155, 0.9) !important;
}
/*** Single Page End ***/


/*** Footer Start ***/
.footer{
	background-color:#868787 ;
}
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color:  rgba(202, 182, 155, 0.9)!important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
}
/*** Footer End ***/
.text-beige {
   color: rgba(202, 182, 155, 0.9);/*#cab69b*/
}
.text-red {
   color: rgb(170, 60, 70);/*#aa3c46*/
}
.text-black {
   color: rgb(0, 0, 0); 
}
.text-gray {
   color:  #868787 ;
}
.bg-gray {
   background-color:  #868787 ;
}


  

